

<div style="font-size: large;color: green;margin-top: 40px;">Items Table</div>

<table mat-table [dataSource]="customers" class="mat-elevation-z8">

  <!-- age Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef  > age </th>
    <td mat-cell *matCellDef="let element" > {{element.age}} </td>
  </ng-container>

  <!-- more_than_1_card Column -->
  <ng-container matColumnDef="more_than_1_card">
    <th mat-header-cell *matHeaderCellDef  > more_than_1_card </th>
    <td mat-cell *matCellDef="let element" > {{element.more_than_1_card}} </td>
  </ng-container>

    <!-- main_city_sail Column -->
    <ng-container matColumnDef="main_city_sail">
        <th mat-header-cell *matHeaderCellDef  > main_city_sail </th>
        <td mat-cell *matCellDef="let element" > {{element.main_city_sail}} </td>
      </ng-container>

   <!-- student Column -->
    <ng-container matColumnDef="student">
        <th mat-header-cell *matHeaderCellDef  > student </th>
        <td mat-cell *matCellDef="let element" > {{element.student}} </td>
      </ng-container>

      
    <!-- Utilizing_card_1 Column-->
    <ng-container matColumnDef="Utilizing_card_1">
        <th mat-header-cell *matHeaderCellDef  > Utilizing_card_1 </th>
        <td mat-cell *matCellDef="let element" > {{element.Utilizing_card_1}}  </td>
      </ng-container> 

          <!-- Utilizing_card_2 Column-->
    <ng-container matColumnDef="Utilizing_card_2">
        <th mat-header-cell *matHeaderCellDef  > Utilizing_card_2 </th>
        <td mat-cell *matCellDef="let element" > {{element.Utilizing_card_2}}  </td>
      </ng-container> 

          <!-- Utilizing_card_3 Column-->
    <ng-container matColumnDef="Utilizing_card_3">
        <th mat-header-cell *matHeaderCellDef  > Utilizing_card_3 </th>
        <td mat-cell *matCellDef="let element" > {{element.Utilizing_card_3}}  </td>
      </ng-container> 

          <!-- Utilizing_card_4 Column-->
    <ng-container matColumnDef="Utilizing_card_4">
        <th mat-header-cell *matHeaderCellDef  > Utilizing_card_4 </th>
        <td mat-cell *matCellDef="let element" > {{element.Utilizing_card_4}}  </td>
      </ng-container> 

          <!-- perc_private Column-->
    <ng-container matColumnDef="perc_private">
        <th mat-header-cell *matHeaderCellDef  > perc_private </th>
        <td mat-cell *matCellDef="let element" > {{element.perc_private}}  </td>
      </ng-container> 


          <!-- perc_proff Column-->
    <ng-container matColumnDef="perc_proff">
        <th mat-header-cell *matHeaderCellDef  > perc_proff </th>
        <td mat-cell *matCellDef="let element" > {{element.perc_proff}}  </td>
      </ng-container> 






  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div>
    <button mat-raised-button color="accent"
    (click) = "try()"
    >Try
    </button> 
  </div>