

<div style="font-size: large;color: green;margin-top: 40px;">Items Table</div>

<table mat-table [dataSource]="students" class="mat-elevation-z8">

  <!-- mathAverage Column -->
  <ng-container matColumnDef="mathAverage">
    <th mat-header-cell *matHeaderCellDef  > mathAverage </th>
    <td mat-cell *matCellDef="let element" > {{element.mathAverage}} </td>
  </ng-container>

  <!-- psychometric Column -->
  <ng-container matColumnDef="psychometric">
    <th mat-header-cell *matHeaderCellDef  > psychometric </th>
    <td mat-cell *matCellDef="let element" > {{element.psychometric}} </td>
  </ng-container>

    <!-- paid Column -->
    <ng-container matColumnDef="paid">
        <th mat-header-cell *matHeaderCellDef  > paid </th>
        <td mat-cell *matCellDef="let element" > {{element.paid}} </td>
      </ng-container>

   <!-- result Column -->
    <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef  > result </th>
        <td mat-cell *matCellDef="let element" > {{element.result}} </td>
      </ng-container>

      
    <!-- emailUser Column-->
    <ng-container matColumnDef="userEmail">
        <th mat-header-cell *matHeaderCellDef  > userEmail </th>
        <td mat-cell *matCellDef="let element" > {{element.userEmail}}  </td>
      </ng-container> 

 
      <!-- delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef > delete </th>
        <td  mat-cell *matCellDef="let element; let i = index"  > 
          <div>
            <button mat-raised-button color="accent"
            (click) = "delete(i)"
            >Delete
            </button> 
          </div>
        </td>
      </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
