<mat-card>
    <h1>Add Student</h1>
    <form #studentForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>mathAverage</mat-label>
              <input matInput 
                [(ngModel)] = "mathAverage"
                name = "mathAverage"
                type = "number"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>psychometric</mat-label>
              <input matInput 
                [(ngModel)] = "psychometric" 
                name = "psychometric" 
                type = "number"
                required>
            </mat-form-field>
          </p>    
          <p>
            <mat-label>paid </mat-label>
            <mat-form-field appearance="fill">
                    <mat-select [(ngModel)] = "paid" name ="paid" required>
                        <mat-option *ngFor="let paid of paids" [value]="paid"> 
                           {{paid}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>
        </p>                                        
        <p>
          <button *ngIf = "!prdictClick&&!cancelClick" mat-raised-button color="primary" 
          (click) = "prdictClick = true;predict()"
          >
          Predict
        </button>
        </p> 
        <mat-form-field *ngIf = "prdictClick&&!cancelClick" appearance="fill">
                <mat-select [(ngModel)] = "resultPredict" name ="resultPredict" required>
                    <mat-option *ngFor="let resulte of resultes" [value]="resulte"> 
                       {{resulte}}
                    </mat-option>
                </mat-select>
        </mat-form-field>
        <p>
          <button *ngIf = "prdictClick&&!cancelClick" mat-raised-button color="primary" 
          (click) = "predict();prdictClick =!prdictClick"
          >
          Cancel
        </button>
          <button *ngIf = "prdictClick&&!cancelClick" mat-raised-button color="primary" 
          [disabled]="!studentForm.form.valid"
          (click) = "prdictClick = true;predict();checkValid();predict();prdictClick =!prdictClick;index=index+1"
          >
          Save
        </button>
        </p> 
        <div>
         {{errorOrSaved}}
        </div>
      </div>
</form>
   </mat-card>
