<mat-card>
    <h1>Add customer</h1>
    <form #customerForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>age</mat-label>
              <input matInput 
                [(ngModel)] = "age"
                name = "age"
                type = "number"
                required>
        </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>more_than_1_card</mat-label>
              <input matInput 
                [(ngModel)] = "more_than_1_card" 
                name = "more_than_1_card" 
                type = "number"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>main_city_sail</mat-label>
              <input matInput 
                [(ngModel)] = "main_city_sail" 
                name = "main_city_sail" 
                type = "number"
                required>
            </mat-form-field>
          </p>    
          <p>
            <mat-form-field appearance="standard">
              <mat-label>student</mat-label>
              <input matInput 
                [(ngModel)] = "student" 
                name = "student" 
                type = "number"
                required>
            </mat-form-field>
          </p>    
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Utilizing_card_1</mat-label>
              <input matInput 
                [(ngModel)] = "Utilizing_card_1" 
                name = "Utilizing_card_1" 
                type = "number"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Utilizing_card_2</mat-label>
              <input matInput 
                [(ngModel)] = "Utilizing_card_2" 
                name = "Utilizing_card_2" 
                type = "number"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Utilizing_card_3</mat-label>
              <input matInput 
                [(ngModel)] = "Utilizing_card_3" 
                name = "Utilizing_card_1" 
                type = "number"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Utilizing_card_4</mat-label>
              <input matInput 
                [(ngModel)] = "Utilizing_card_4" 
                name = "Utilizing_card_4" 
                type = "number"
                required>
            </mat-form-field>
          </p>   
          <p>
            <mat-form-field appearance="standard">
              <mat-label>perc_private</mat-label>
              <input matInput 
                [(ngModel)] = "perc_private" 
                name = "perc_private" 
                type = "number"
                required>
            </mat-form-field>
          </p>   
   
          <p>
            <mat-form-field appearance="standard">
              <mat-label>perc_proff</mat-label>
              <input matInput 
                [(ngModel)] = "perc_proff" 
                name = "perc_proff" 
                type = "number"
                required>
            </mat-form-field>
          </p>   
   
  
        

        <p>
          <button mat-raised-button color="primary" 
          (click) = "predict()"
          >
          Predict
        </button>
        </p>

        {{resultPredict}}

 

        